/* Start variables */
:root {
  --main-color: #10cab7;
  --secondray-color: #2c4755;
  --section-padding: 60px;
  --section-background-color: #f6f6f6;
  --p-color: #4d4c4c;
  --p-line-height: 1.6;
  --content-margin: 100px;
  --main-deuration: 0.3s ;
}

/* End variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Media Query */
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start  Components */
.special-haeding {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-haeding + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: var(--p-color);
}
@media (max-width: 767px) {
  .special-haeding {
    font-size: 80px;
  }
  .special-haeding + p {
    font-size: 17px;
    margin-top: -92px;
  }
}
/* End Components */
/* Start header  */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}

.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}

.header .links .icon span:first-child {
  width: 100%;
}

.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-deuration);
  -webkit-transition: var(--main-deuration);
  -moz-transition: var(--main-deuration);
  -ms-transition: var(--main-deuration);
  -o-transition: var(--main-deuration);
}

.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  min-width: 200px;
  display: none;
  z-index: 1;
}

.header .links ul::before {
  content: " ";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  top: -20px;
  right: 5px;
}

.header .links:hover ul {
  display: block;
}

.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--main-deuration);
  -webkit-transition: var(--main-deuration);
  -moz-transition: var(--main-deuration);
  -ms-transition: var(--main-deuration);
  -o-transition: var(--main-deuration);
}

.header .links ul li a:hover {
  padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #eee;
}
/* End header  */

/* Start landing Section  */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 24px);
  position: relative;
  
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  max-width: 100%;
  width: 301px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.landing .intro-text h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 19px;
  line-height: var(--p-line-height);
  max-width: 100%;
  margin-left: -18px;
}
/* End landing Section  */
/* Start Featrues section  */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background-color);
    filter: drop-shadow( 8px 8px 10px gray);
  -webkit-filter: drop-shadow( .1px .1px 4px gray);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;

}

.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}

.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}

.features .feat p {
  line-height: var(--p-line-height);
  font-size: 17px;
  color: var(--p-color);
}
/* End Featrues section  */
/* Start Services  */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  
  
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: var(--content-margin);
  
}

.services .services-content .serv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .serv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .serv i {
  color: var(--main-color);
  flex-basis: 50px;
}
.services .services-content .serv .text {
  flex: 1;
}
.services .services-content .serv h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.services .services-content .serv p {
  color: var(--p-color);
  font-weight: 300;
  line-height: var(--p-line-height);
}

.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image img {
  width: 250px;
  height: 375px;
}
.services .services-content .image::before {
  content: "";
  background-color: var(--secondray-color);
  height: calc(100% + 100px);
  width: 100px;
  position: absolute;
  top: -50px;
  right: 0;
  z-index: -1;
}
@media (max-width: 1199px) {
  .services .services-content .image-column {
    display: none;
  }
}

/* End Services  */
/* Start PortFolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background-color);
  
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: var(--content-margin);
}
.portfolio .portfolio-content .card {
  background-color: #ffff;
  filter: drop-shadow( 8px 8px 10px gray);
  -webkit-filter: drop-shadow( .1px .1px 4px gray);

}

.portfolio .portfolio-content .card img {
  height: 60%;
  max-width: 100%;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}

.portfolio .portfolio-content .card .info p {
  color: var(--p-color);
  line-height: var(--p-line-height);
  margin-bottom: 0;
}
/* End PortFolio */
/* Start  About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  margin-bottom: var(--content-margin );
   

}
.about .about-content {
  margin-top: var(--content-margin);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image img {
  max-width: 100%;
  max-height: 100%;
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  height: calc(100% + 80px);
  width: 100px;
  top: -40px;
  left: -20px;
  z-index: -1;
}

.about .about-content .image::after {
  content: "";
  height: 270px;
  width: 140px;
  position: absolute;
  top: -40px;
  right: -180px;
  border-left: 100px solid var(--main-color);
  border-bottom: 90px solid var(--main-color);
  z-index: -1;
}

@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .text {
  flex-basis: calc(100% - 490px);
}

.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 40px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
  line-height: 2;
  color: var(--p-color);
}
/* End About */
/* Start Contact */
.contact  {
  background-color: var(--section-background-color);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .info {
  background-color: var(--section-background-color);
  padding-top: var(--section-padding);
  text-align: center;
}
.contact .info .label{
  color: var(--secondray-color);
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  color: var(--main-color);
  text-decoration: none;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 20px;
}
.contact .info .social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social-links i{
  margin-left: 10px;
  color: var(--secondray-color);
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: var(--secondray-color);
  padding: 30px 0px;
  text-align: center;
  color: #FFFF;
  font-size: 18px;
}
.footer span{
  color: var(--main-color);
  font-weight: bold;

}
/* End Footer */
